DATABASE_URL=postgresql+asyncpg://postgres:secret@localhost:5432/drivers_db

# Keycloak
KEYCLOAK_REALM_URL=http://localhost:8080/realms/flotte-management
KEYCLOAK_CLIENT_ID=flotte-services
KEYCLOAK_VERIFY_ISSUER=false

# Fallback local si JWKS indisponible (optionnel)
JWT_PUBLIC_KEY=

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC_DRIVER=driver-events

# App
APP_ENV=development
APP_SECRET_KEY=supersecretkey

