# PostgreSQL
DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/maintenances_db

# Keycloak
KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_REALM=fleet
KEYCLOAK_CLIENT_ID=service-maintenances

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_CLIENT_ID=service-maintenances

# App
DEBUG=false